<!-- 
  - @author Bilal Yousufzai [biy1]   
  - @version 0.1 initial creation
  - @version
  - @version
  - @version
  - @version
  - @version
  - @version Added settings button with cog icon and content.
  - @version Added link link option to traethlin.html.
  - @version Added sound files.
  - @version Added 'toggle-container' and 'sound-toggle'.
  - @version Added 'Clear' button for log clearance.
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Control Web GUI</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/gui_css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/settings.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div id="gui-container">
        <header>
            <div class="header-container">
                <!-- <a href="/camera" class="button-like-link">Go to Record Page</a> -->
                <h1>Trail Tracer Web GUI</h1>
                <button id="settings-button"><i class="fas fa-cog"></i></button>
                <!-- Settings popup menu -->
                <div id="settings-menu" class="settings-popup" style="display: none;">
                    <ul class="settings-list">
                        <li><a href="/user_guide">User Guide For Trail Trace</a></li>
                        <li class="has-submenu"><a href="/#">Supported Sites</a>
                            <ul class="submenu">
                                <li><a href="/traethlin">Traethlin</a></li>
                                <li><a href="/camera">Cam</a></li>
                                <!-- More sites here for future additions-->
                            </ul>
                        </li>
                    </ul>
                </div>                
            </div>
            <!-- Toggle Button to switch between modes -->
            <div class="toggle-container">
                <button class="toggle" id="mode-toggle">Switch to Manual Navigation</button>
                <button class="toggle" id="sound-toggle">Sound Off</button>
            </div>
        </header>
        <section id="map-section">
            <div id="map"></div>
            <div id="map-controls">
                <button id="locate-me-button">Locate Me</button>
            </div>
        </section>
        <!-- Automatic Navigation  -->
        <section id="dashboard-controls">
            <article id="data-dashboard">
                <h2>Telemetry Data</h2>
                <p>Latitude: <span id="latitude">N/A</span></p>
                <p>Longitude: <span id="longitude">N/A</span></p>
                <p>Linear Speed: <span id="linearSpeed">0.0 m/s</span></p>
                <p>Angular Speed: <span id="angularSpeed">0.0 rad/s</span></p>                
                <!-- <p>Connection: <span id="connection-status">Connected</span></p>
                <p>Battery Level: <span id="battery-level">High</span></p> -->
            </article>
            <aside id="control-panel">
                <h2>Control Panel</h2>
                <button id="plot-trail-button">Plot Trail</button>
                <button id="pause-button" style="display: none;">Pause</button>
                <button id="load-trail-button">Load Trail</button>
                <!-- <button id="emergency-stop-button" style="display: none;">Emergency Stop</button> -->
            </aside>
        </section>
        <!-- Manual Navigation for Path Tracking -->
        <section id="manual-controls" style="display: none;"> <!-- Initially hidden -->
            <article id="manual-data-dashboard"> 
                <h2>Telemetry Data</h2>
                <p>Latitude: <span id="manual-latitude">N/A</span></p>
                <p>Longitude: <span id="manual-longitude">N/A</span></p>
                <p>Linear Speed: <span id="manual-linearSpeed">0.0 m/s</span></p>
                <p>Angular Speed: <span id="manual-angularSpeed">0.0 rad/s</span></p>                
                <!-- <p>Connection: <span id="manual-connection-status">Connected</span></p>
                <p>Battery Level: <span id="manual-battery-level">High</span></p> -->
            </article>
            <aside id="manual-control-panel">
                <h2>Control Panel</h2>
                <button id="manual-start">Record Trail</button>
                <button id="manual-move">Manualy Move Robot</button>
                <!-- <button id="manual-stop">Stop</button> -->
                <div id="joystick-container">
                    <div id="joystick"></div> <!-- Placeholder for the joystick -->
                </div>
            </aside>
        </section>
        <!-- System Log -->
        <footer id="system-log">
            <div class="log-header">
                <h2>System Log</h2>
                <button id="clear-log">Clear Log</button>
            </div>
            <textarea id="log-window" readonly></textarea>
        </footer>
    </div>
    <!-- Prompt for Trail Selection -->
    <div id="trail-prompt" style="display: none;"> <!-- Initially hidden -->
        <div id="prompt-header">
            <h2>Select Trail</h2>
            <span id="no-entry-error" style="color: red; display: none;">No Trail File Choosen!</span>
            <button id="exit-prompt" style="float: right;">Exit</button>
        </div>
        <div id="prompt-body">
            <select id="trail-dropdown">
            </select>
            <button id="start-trail">Start</button>
        </div>
    </div>
    <!-- Prompt for Name Selection -->
    <div id="trail-name-prompt" style="display: none;"> <!-- Initially hidden -->
        <div id="prompt-header">
            <h2>Name Trail</h2>
            <span id="no-entry-error" style="color: red; display: none;">No Trail Name Entered!</span>
            <span id="file-exists-error" style="color: red; display: none;">Trail Name Exists! Coose New File Name</span>
            <button id="exit-name-prompt">Exit</button>
        </div>
        <div id="prompt-body">
            <input type="text" id="trailNameInput" placeholder="Trail Name">
            <button id="saveTrailName">Save Trail Name</button>
        </div>
    </div>
    <!-- Prompt for Name Selection -->
    <div id="plot-name-prompt" style="display: none;"> <!-- Initially hidden -->
        <div id="prompt-header">
            <h2>Name Trail</h2>
            <span id="entry-error" style="color: red; display: none;">No Trail Name Entered!</span>
            <span id="file-exist" style="color: red; display: none;">Trail Name Exists! Coose New File Name</span>
            <button id="exit-plot-name-prompt">Exit</button>
        </div>
        <div id="prompt-body">
            <input type="text" id="plotNameInput" placeholder="Trail Name">
            <button id="savePlotName">Save Trail Name</button>
        </div>
    </div>
    
    <!-- sound element is downlaoded from https://mixkit.co/free-sound-effects -->
    <audio id="click" src="{{ url_for('static', filename='util/audio_files/click.mp3')}}" type="audio/mpeg"></audio>
    <audio id="toggle_sound" src="{{ url_for('static', filename='util/audio_files/toggle.mp3')}}" type="audio/mpeg"></audio>
    <audio id="check_sound" src="{{ url_for('static', filename='util/audio_files/check.mp3')}}" type="audio/mpeg"></audio>


    <!-- Link to JavaScript files -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/roslib"></script> -->
    <script src="{{ url_for('static', filename='/js/gui_script.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/map_ui.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/dashboard_event_listeners.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/prompt_event_listners.js') }}"></script>
    <!-- Include nipplejs for the joystick -->
    <script src="https://cdn.jsdelivr.net/npm/nipplejs"></script>
</body>
</html>
