<!DOCTYPE html>
<html>
<head>
<script src="{{ url_for('static', filename='traethlin/libraries/eventemitter2.min.js') }}"></script>
<script src="{{ url_for('static', filename='traethlin/libraries/easeljs.min.js') }}"></script>
<script src="{{ url_for('static', filename='traethlin/libraries/roslib.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='traethlin/traethlin_styles.css') }}">
</head>
<body>
  <div class="row">
    <div id="connectionOptions" class="column">
      <div class="block-display">
        <button id="startstop" class="button">Connect to system</button>
        <button id="shutdown" class="button">Shutdown the system</button>
        <!--<button id="reboot" class="button">Reboot the system</button> -->
      </div>
    </div>
    <div id="gearControl" class="column">
      <div class="block-display">
        <div>
          High gear:
          <label class="switch">
            <input id="high_low_gear" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          Front diff locked:
          <label class="switch">
            <input id="front_diff" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
        <div>
          Rear diff locked:
          <label class="switch">
            <input id="rear_diff" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="manualControl" class="justify">
    <h2>Manual joystick control</h2>
    <!--<br/> -->
    <!-- <p class="justify">Max velocity:</p>
      <input type="range" min="0" max="2.5" value="1.5" step="0.1" class="slider justify" id="maxVelocity"> -->
      <!--<br/> -->
    <div id="joystick_wrapper">
      <div id="traethlin-joystick">
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='/traethlin/traethlin_js.js') }}"></script>
</body>
</html>