/* gui_css.css */
/* 
* @version 0.1 - iniial creation 
* @version 0.2 - Added dasboard styles
* @version 0.3 - Added map, header and footer style
* @version 0.4 - Added Joystick styles
* @version 0.5 - Added prompt styles styles
* @version 0.6 - Updated styles for system log.
* @version 0.7 - Refactored.
*/

/*/////////////////////////////////////////////////*/
/*////// GENERAL HTML FILE STRUCTURE STYLES ///////*/
/*/////////////////////////////////////////////////*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#gui-container {
    margin: 2% auto;
    max-width: 960px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header, section, footer {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #5cb85c;
}

/* General button styles */
button:focus {
    outline: none;
}
/*////////////////////////////////////////*/
/*////////////// TAB STYLES //////////////*/
/*////////////////////////////////////////*/
.tab-header{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab-button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: background-colour 0.3s;
}

.tab-button.active {
    background-color: #e7e7e7;
    font-weight: bold;
}


/*////////////////////////////////////////*/
/*////////////// MAP STYELS //////////////*/
/*////////////////////////////////////////*/
#map-section {
    position: relative;
    height: 400px;
}

#map {
    height: 100%;
    border-radius: 5px;
}

#map-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#locate-me-button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#locate-me-button:hover {
    background-color: #e7e7e7;
}

/* syle for waypoint marker*/
.waypoint-marker{
    text-align: center;
    line-height: 20px;
}

/*//////////////////////////////////////////////////////*/
/*/////////////// DASHBOARD PANNEL STYLES //////////////*/
/*//////////////////////////////////////////////////////*/
#manual-controls {
    display: none; /* hidden by default, will be toggled by JavaScript */
}

#dashboard-controls, #manual-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Same styles for both telemetry data articles */
#data-dashboard, #control-panel, #manual-data-dashboard,#manual-control-panel {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

#control-panel button, #manual-control-panel button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background: #5cb85c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

#control-panel, button:not(:last-child) {
    margin-bottom: 10px;
}

#control-panel button:hover {
    background: #449d44;
}

#emergency-stop-button {
    background: #d9534f;
}

#emergency-stop-button:hover {
    background: #c9302c;
}

/* ////////////////////////////////////////////////// */
/*//////////////// SYSTEM LOG STYLES ////////////////*/
/* ////////////////////////////////////////////////// */
#system-log {
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.log-header{
    display: flex;
    justify-content: space-between; /* sets items at oposite side of each other. */
    align-items: center; 
}

#log-window {
    width: 100%;
    height: 150px;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    color: #333;
}

#clear-log{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* ///////////////////////////////////////////////////*/
/*////////////////// JOYSTICK STYLES /////////////////*/
/* ///////////////////////////////////////////////////*/
#joystick-container {
    position: relative;
    width: 100%; 
    height: 200px; 
    background: #eaeaea; 
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

/* Style for the manual-control joystick */
#joystick {
    width: 100px; 
    height: 100px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #5cb85c; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition:  all 0.2s ease-in-out;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// PROMPT STYLES ////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////*/
#trail-prompt, #trail-name-prompt, #plot-name-prompt {
    display: none;
    position: absolute;
    width: 20%; 
    height: 15%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    box-sizing: border-box;
}

#prompt-header button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#prompt-header button:hover {
    background-color: #d32f2f;
}

#prompt-body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

/* Dropdown Style */
#trail-dropdown {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Start Button Style */
#start-trail {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#start-trail:hover {
    background-color: #45a049;
}
/*//////////////////////////////////////////////////////*/

@media (max-width: 768px) {
    #dashboard-controls {
        grid-template-columns: 1fr;
    }
    

}
