<launch>
  <arg name="robotName" default="" />

  <node pkg="robot_localization" type="navsat_transform_node" 
        name="navsat_transform_node" respawn="true" output="screen">

    <param name="magnetic_declination_radians" value="0"/>

<!--    <param name="yaw_offset" value="-1.5707963268"/>-->
    <param name="yaw_offset" value="1.5707963268"/>

    <param name="publish_filtered_gps" value="true" />
    <param name="broadcast_cartesian_transform" value="true" />
    <param name="broadcast_cartesian_transform_as_parent_frame" value="false" />
    <param name="use_odometry_yaw" value="false"/>

    <remap from="/imu/data" to="$(arg robotName)/imu/data" />
    <remap from="/gps/fix" to="$(arg robotName)/gps/fix" />
    <remap from="/odometry/filtered" to="$(arg robotName)/odom" />
    <remap from="/odometry/gps" to="$(arg robotName)/odom/gps" />

  </node>

</launch>
