<?xml version="1.0"?>

<!-- traethlin_constants.xacro

This file defines a model of the Traethlin robot.

It is derived from the autorally ROS package available at https://github.com/AutoRally.

Lengths are measured in meters, angles are measured in radians, and masses are
measured in kilograms. All of these values are approximations.

To work with Gazebo, each link must have an inertial element, even if
the link only serves to connect two joints. To be visible in Gazebo, a link
must have a collision element. Furthermore, the link must have a Gazebo
material.
-->
<robot name="traethlin" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Degree-to-radian conversions -->
  <xacro:property name="degrees_45" value="0.785398163"/>
  <xacro:property name="degrees_21" value="0.3665191429"/>
  <xacro:property name="degrees_90" value="1.57079633"/>
  <xacro:property name="degrees_180" value="3.14159265"/>


  <!-- chassis_length is measured along the x axis, chassis_width
       along the y axis, and chassis_height along the z axis. -->
  <!--<xacro:property name="chassis_length" value="0.90"/>
  <xacro:property name="chassis_width" value="0.25"/>
  <xacro:property name="chassis_height" value="0.25"/>
  <xacro:property name="chassis_mass" value="20.5"/>
  <xacro:property name="chassis_cm_height" value="0.12"/>
  <xacro:property name="chassis_cm_to_rear_shock" value="0.23"/>
  <xacro:property name="chassis_cm_to_front_shock" value="0.34"/>-->


  <xacro:property name="chassis_length" value="0.46"/>
  <xacro:property name="chassis_width" value="0.20"/>
  <xacro:property name="chassis_height" value="0.10"/>
  <xacro:property name="chassis_length_offset" value="0.03"/>
  <xacro:property name="chassis_vertical_offset" value="0.04"/>
  <xacro:property name="chassis_mass" value="1.5"/> <!-- excluding batteries-->
  <xacro:property name="chassis_cm_height" value="0.10"/>
  <xacro:property name="chassis_cm_to_rear_shock" value="0.155"/>
  <xacro:property name="chassis_cm_to_front_shock" value="0.155"/>

  <!-- hub_dia and tire_dia are the diameters of the hub and tire,
       respectively. hex_hub_depth is the distance that the hex hub is
       inset from the outer edge of the tire. It is set so that each wheel
       is a "zero offset" wheel. hex_hub_depth = tire_width / 2 -
       axle_length. -->
  <!--<xacro:property name="hub_dia" value="0.024"/>
  <xacro:property name="tire_dia" value="0.19"/>
  <xacro:property name="front_tire_width" value="0.072644"/>
  <xacro:property name="front_wheel_mass" value="0.82"/>
  <xacro:property name="rear_tire_width" value="0.0762"/>
  <xacro:property name="rear_wheel_mass" value="0.89"/>-->


  <xacro:property name="hub_dia" value="0.015"/>
  <xacro:property name="tire_dia" value="0.125"/>
  <!-- <xacro:property name="hex_hub_depth" value="0.0"/>  -->
  <xacro:property name="front_tire_width" value="0.07"/>
  <xacro:property name="front_wheel_mass" value="0.115"/><!--0.115-->
  <xacro:property name="rear_tire_width" value="0.07"/>
  <xacro:property name="rear_wheel_mass" value="0.115"/>

  <!-- hex_hub_dist is the distance between left and right hex hubs when
       the shock absorbers are fully extended. axle_length is the distance
       from a U joint to the corresponding hex hub. wheel_travel is the
       vertical wheel travel. -->
  <!--<xacro:property name="wheelbase" value="0.570"/>
  <xacro:property name="hex_hub_dist" value="0.4"/>-->

  <!-- The sum of the two wheelbases, front and rear, is the actual wheelbase  -->
  <xacro:property name="wheelbase_front" value="0.312"/>
  <xacro:property name="wheelbase_rear" value="0.312"/>
  <xacro:property name="hex_hub_dist" value="0.22"/>



  <!-- <xacro:property name="axle_length" value="0.03"/> -->
  <!--<xacro:property name="wheel_travel" value="0.1"/>
  <xacro:property name="shock_z_offset" value="0.11"/> -->


  <!-- <xacro:property name="front_wheel_travel" value="0.1"/>
  <xacro:property name="front_shock_z_offset" value="0.11"/>
  <xacro:property name="rear_wheel_travel" value="0.11"/>
  <xacro:property name="rear_shock_z_offset" value="0.12"/>-->

  <!--<xacro:property name="front_wheel_travel" value="0.20"/>
  <xacro:property name="front_shock_z_offset" value="0.11"/>-->
  <xacro:property name="front_wheel_travel" value="0.02"/>
  <xacro:property name="front_shock_z_offset" value="0.04"/>

  <!--?-->
  <!--<xacro:property name="rear_wheel_travel" value="0.20"/>
  <xacro:property name="rear_shock_z_offset" value="0.11"/> -->
  <xacro:property name="rear_wheel_travel" value="0.02"/>
  <xacro:property name="rear_shock_z_offset" value="0.04"/>

  <!--?-->

  <!-- shock_eff_limit is 2 * ((shock_stroke / 2) * shock_spring_constant) N.
       For shock_spring_constants, refer to
       autoRallyPlatformJointCtrlrParams.yaml for spring's constants -->
  <!-- front shock: 2 * ((0.06 / 2) * 3152.28303) = 189.1369818-->
  <!-- rear shock: 2 * ((0.07 / 2) * 4234.88528273) = 296.441969791-->
  <xacro:property name="front_shock_eff_limit" value="189.1369818"/>
  <xacro:property name="rear_shock_eff_limit" value="296.441969791"/>
  <xacro:property name="shock_vel_limit" value="1000"/>

  <!-- The specifications for a Titan(R) 550 motor could not be found, so the
       stall torque of a Mabuchi Motor(R) RS-550VC-7525 motor was used instead.

       num_spur_gear_teeth = 68
       num_pinion_gear_teeth = 19
       final_gear_ratio = (num_spur_gear_teeth / num_pinion_gear_teeth) *
         5.22 = 18.68
       stall_torque = 0.549 N m
       axle_eff_limit = ((2 * stall_torque) * final_gear_ratio) / 4 =
         5.12766 N m

       max_speed = 60mph = 26.82 m/s
       axle_vel_limit = (2 * pi) * (max_speed / (pi * tire_dia)) =
          2*26.82/0.19 = 282.315789474 rad/s
       -->
  <xacro:property name="front_axle_eff_limit" value="20000"/>
  <xacro:property name="rear_axle_eff_limit" value="80000"/>
  <xacro:property name="axle_vel_limit" value="282000.315789474"/>

  <!-- These constants are used to simulate a  Savox SV-0235MG servo operated at
       7.4 V. servo_stall_torque is measured in N m. servo_no_load_speed is
       measured in rad/s. -->
  <!-- produces 486.1 oz-in = 3.432620346181713 n-m of torque -->
  <!-- no load speed 0.13 sec/60 deg -> (1/0.13)*60 deg/sec = 8.05536578 rad/s -->
  <xacro:property name="servo_stall_torque" value="30.432620346181713"/>
  <xacro:property name="servo_no_load_speed" value="80.05536578"/>
</robot>
